*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}

.container{
  display: flex;
  border: 1px solid royalblue;
  align-items: center;
  justify-content: center;
}
