@import "font.css";

body{
  font-family: 'Open Sans', sans-serif;
}

.container{
  display: flex;
  /*border: 1px solid royalblue;
  align-items: center;
  justify-content: center;*/
  flex-direction: column;
  flex-wrap: wrap;
}

.container >div{
  margin: 6px;
}

.Header{
  flex: 1;
  order:1;
  font-weight: bold;
  font-size: xx-large;
  /*border: 1px solid red;*/
}

.Author{
  display: flex;
  flex: 1;
  order: 2;
  flex-direction: row;
  /*border: 1px solid red;*/
}

.author_name{
  flex: 1;
  order: 1;
  /*border: 1px solid green;*/
}

.author_title{
  flex: 1;
  order: 2;
  /*border: 1px solid green;*/
}

.author_company{
  flex: 1;
  order: 3;
  /*border: 1px solid green;*/
}

.author_bio{
  flex: 1;
  order: 4;
  /*border: 1px solid green;*/
}

.author_avatar{
  flex: 1;
  order: 5;
  /*border: 1px solid green;
  text-align: center;*/
  align-items: center;
}

img{
  max-width: 100%;
}

.Content{
  flex:1;
  order: 3;
  /*border: 1px solid red;*/
  font-family: 'Courier New', Courier, monospace;
}

.Footer{
  display: flex;
  flex: 1;
  order: 4;
  flex-direction: row;
  /*border: 1px solid red;*/  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.twitter{
  flex: 1;
  order: 1;
  /*border: 1px solid yellow;*/
  text-align: center;
}

.facebook{
  flex: 1;
  order: 2;
  /*border: 1px solid yellow;*/
  text-align: center;
}

.linkedin{
  flex: 1;
  order: 3;
  /*border: 1px solid yellow;*/
  text-align: center;
}

.backtohome{
  flex: 1;
  order: 4;
  /*border: 1px solid yellow;*/
  text-align: center;
}

@media(max-width: 600px){
  .Author{
    display: flex;
    flex: 1;
    order: 2;
    flex-direction: column;
    /*border: 1px solid red;*/
  }
  .author_avatar{
    flex: 1;
    order: 5;
    /*border: 1px solid green;
    text-align: center;*/
    align-items: left;
  }
  .Footer{
    display: flex;
    flex: 1;
    order: 4;
    flex-direction: column;
    /*border: 1px solid red;*/  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }  

}