.container{
    display:grid;
    grid-gap: 3px;
    text-align: center;
    grid-template-columns: repeat(2,1fr) ;
    grid-template-rows: 40 px auto 40 px;
    border: 5px solid black;

}

.header{
    grid-column : 1/3;
    border: 1px solid black;
}

.sidebar{
    border: 1px solid black;
}

.content {
    grid-column:2/-1;  
    border: 1px solid black;  
}

.footer{
    grid-column: 1/-1;
    border: 1px solid black;
}