.container{
    display:grid;
    grid-gap: 3px;
    grid-template-columns: repeat(2,1fr) ;
    grid-template-rows: 40 px auto 40 px;
}

.header{
    grid-column : 1/3;

}

.content {
    grid-column:2/-1;    
}

.footer{
    grid-column: 1/-1;

}