.container{
    display: grid;
    height: 100%;
    grid-gap: 1px;
    text-align: center;
    grid-template-columns: repeat(12,1fr) ;
    grid-template-rows: 200px 300px 100px;
    border: 5px solid black;
    background-color: lightblue;
    grid-template-areas:
    "hd hd hd hd hd hd hd hd hd hd hd hd"
    "sb sb ct ct ct ct ct ct ct ct ct ct"
    "ft ft ft ft ft ft ft ft ft ft ft ft";
}

.header{
    grid-area : hd;
    text-align: center;
    border: 1px solid black;
}

.sidebar{
    grid-area: sb;
    border: 1px solid black;
}

.content {
    grid-area: ct;  
    border: 1px solid black;  
}

.footer{
    grid-area: ft;
    border: 1px solid black;
}