.container{
    height:100%;
    display:grid;
    grid-gap: 1px;
    text-align: center;
    grid-template-columns: repeat(12,1fr) ;
    grid-template-rows: 40px 100px 40px;
    border: 5px solid black;
    grid-template-areas:
    "hd hd hd hd hd hd hd hd hd hd hd hd"
    "sb sb ct ct ct ct ct ct ct ct ct ct"
    "ft ft ft ft ft ft ft ft ft ft ft ft";
}

.header{
    grid-area : hd;
    border: 1px solid black;
}

.sidebar{
    grid-area: sb;
    border: 1px solid black;
}

.content {
    grid-area: ct;  
    border: 1px solid black;  
}

.footer{
    grid-area: ft;
    border: 1px solid black;
}