@import "font.css";
@import "background.css";
@import "body.css";

.container{
    margin: 0;
    padding: 0;
    display: grid;
    min-height: 100vh;
    width: 100%;
    grid-gap: 1px;
    text-align: center;
    grid-template-columns: repeat(12,1fr) ;
    grid-template-rows: 75px auto 75px;
    /*border: 5px solid black;*/
    grid-template-areas:
    "hd hd hd hd hd hd hd hd hd hd hd hd"
    "ct ct ct ct ct ct ct ct ct ct ct ct"
    "ft ft ft ft ft ft ft ft ft ft ft ft";
}

.header{
    grid-area : hd;
    text-align: center;
    /*border: 1px solid black;*/
}


.content {
    display: grid;
    grid-gap: 10px;
    background-color: white;
    grid-template-columns: repeat(2,1fr) ;
    grid-template-rows: repeat(3,1fr);
    grid-area: ct;  
    /*border: 1px solid black;  */
}

.card {
    display: flex;
    flex-direction: row;
    /*justify-content: left;*/
    /*grid-template-columns: 1fr 2fr;*/
    font-size: calc(1rem + 1 vw);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.subcard{
  flex: 2;
  order: 1;
}

.subcard_image{
  flex: 1;
  order: 2;
}

img{
  max-width: 100%;
}

.footer{
    grid-area: ft;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    /*border: 1px solid black;*/
}


.form-inline {  
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  
  .form-inline label {
    margin: 5px 10px 5px 0;
  }
  
  .form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  
  .form-inline button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
    cursor: pointer;
  }
  
  .form-inline button:hover {
    background-color: royalblue;
  }
  
  @media (max-width: 800px) {
    .form-inline input {
      /*margin: 10px 0;*/
    }
    
    .form-inline {
      flex-direction: column;
      align-items: stretch;
    }
  }