.container{
    display: grid;
    height: 100vh;
    grid-gap: 1px;
    text-align: center;
    grid-template-columns: repeat(12,1fr) ;
    grid-template-rows: 75px auto 100px;
    border: 5px solid black;
    background-color: lightblue;
    grid-template-areas:
    "hd hd hd hd hd hd hd hd hd hd hd hd"
    "ct ct ct ct ct ct ct ct ct ct sb sb"
    "ft ft ft ft ft ft ft ft ft ft ft ft";
}

.header{
    grid-area : hd;
    text-align: center;
    border: 1px solid black;
}

.sidebar{
    grid-area: sb;
    border: 1px solid black;
}

.content {
    grid-area: ct;  
    border: 1px solid black;  
}

.footer{
    grid-area: ft;
    border: 1px solid black;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }